[user]
  name = pickiey
  email =
[color]
  ui = auto
[push]
  default = upstream # defaultのpush先はtrackingしているリポジトリ
[core]
  excludesfile = ~/.gitignore  # globalな.gitignoreの指定
  #autocrlf = input                 # CRLFを自動変換
  editor = vim
[branch]
  autosetuprebase = always
[pull]
  rebase = true
[help]
  autocorrect = 1
[alias]
  st = status
  co = checkout
  cm = commit
  df = diff
